.homepage-headings {
  margin: 20px;
  /* margin-left: 40px; */
  text-align: center;
}

.new-font {
  font-family: var(--muli);
}

/* SOCIALS */
.social-banner {
  background-color: var(--primary-blue);
  color: #fff;
}

.social-list {
  margin: 0 auto;
}

.social-list a {
  color: #fff;
}

.social-list a:hover {
  color: #000;
}

.social-btn {
  margin: 10px;
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  .right-spacing {
    display: none;
  }
}

/* NAVBAR */
.logo-img {
  height: 60px;
  width: 60px;
}

.divider {
  display: none;
  height: 50px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 6px;
  align-self: center;
}

.navbar {
  padding: 5px;
  justify-self: flex-end;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  outline: none;
}

#navbar-brand {
  /* margin-left: 2em; */
  font-size: 16px;
  color: #0d6efd;
}

#navlink {
  font-size: 14px;
  font-weight: bold;
  padding: 2px 12px;
  color: #777;
}

#navlink:hover {
  color: #0d6efd;
}

#navlink:focus-visible {
  outline: none;
}

#nav-socialdrop {
  margin-right: 2em;
  background-color: var(--primary-blue);
}

.mobile-navmenu {
  color: var(--primary-blue);
}

.desktop-navmenu {
  display: none;
}

.logo-text {
  display: none;
}

.mobile-nav-icon {
  font-size: 25px;
}

.loginbutton {
  background-color: var(--primary-blue);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  color: #fff;
  transition: all 0.2s;
}

.loginbutton:hover {
  box-shadow: 0px 2px 8px #777;
}

.loginimg {
  width: 36px;
  height: 36px;
  margin-left: 4px;
  border-radius: 50%;
  background-color: #ccc;
}

@media only screen and (min-width: 786px) {
  .desktop-navmenu {
    display: inline-flex;
  }
  .mobile-navmenu {
    display: none;
  }
  #navbar-brand {
    margin-left: 2em;
  }
  .divider {
    display: block;
  }
  .logo-text {
    display: block;
  }
}

/* HERO */
#hero {
  width: 100%;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../img/bg1.jpg") center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.inst-name {
  height: 100%;
  display: flex;
}

.inst-name p {
  margin: auto;
  font-family: var(--rlwy);
  color: #fff;
  font-size: 50px;
}

.main {
  padding-top: 40%;
  margin: 0 auto;
  width: 200px;
}

.cus-btn {
  border-radius: 8px;
  padding: 8px;
  /* display: inline; */
  text-align: center;
  background-color: var(--primary-blue);
  border: none;
  transition: all 0.2s ease-out;
}

.cus-btn:hover {
  background-color: black;
}

.btn-inside {
  color: white;
}

@media only screen and (min-width: 786px) {
  .main {
    padding-top: 20%;
    padding-left: 85%;
    width: 100%;
  }
  #hero {
    height: 90vh;
  }
  .inst-name p {
    font-size: 70px;
  }
}

@media only screen and (max-width: 512px) {
  .inst-name p {
    font-size: 40px;
  }
}

@media only screen and (max-width: 352px) {
  .inst-name p {
    font-size: 30px;
  }
}

/* ACHIEVEMENTS */
.home-ach-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../img/bg1.jpg") center center;
}

.home-posters {
  width: 100vw;
}

.home-ach {
  font-family: var(--muli);
  color: #fff;
  padding: 20px;
}

.home-ach .italic {
  font-style: italic;
  font-weight: bold;
}

.home-ach ul {
  list-style: none;
  padding: 0;
}

.home-ach ul .check-icon {
  color: var(--primary-blue);
}

.home-ach ul li {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .home-ach-container {
    flex-direction: row;
    align-items: center;
    padding: 20px;
  }

  .home-posters {
    width: 280vw;
  }
}

/* .ach-text h3 {
  color: var(--primary-blue);
  font-family: "Roboto";
}

.italic {
}

.ach-text {
  font-size: 14px;
}

.ach-text ul {
  list-style: none;
  padding: 0;
}

.ach-text ul li .check-icon {
  color: var(--primary-blue);
}

.ach-text ul li {
  padding-bottom: 10px;
} */

/* COUNTS */
.counterNum {
  font-size: 48px;
  display: block;
  color: blue;
  font-weight: 700;
}

#counter {
  background-color: #f6f7f6;
  padding: 40px;
}

#count-center {
  text-align: center;
}

/* WHY US */
.wu-container {
  padding: 10px;
}

.wu-main-details {
  text-align: center;
  padding: 30px;
  background-color: var(--primary-blue);
  border-radius: 10px;
  color: #fff;
}

.wu-main-details h3 {
  font-family: var(--rlwy);
  font-size: 34px;
  font-weight: 700;
}

.wu-main-details .scrollable {
  height: 350px;
  padding: 5px;
}

.scrollable {
  overflow-y: scroll;
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.4);
  scrollbar-color: #fff #0001;
  scrollbar-width: thin;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}

.scrollable::-webkit-scrollbar-track-piece {
  background-color: #0001;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.wu-popup-card {
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 16px #0004;
}

.card-icon {
  padding: 40px 30px;
}

.card-head {
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.card-button {
  margin-bottom: 0;
}

.popup-main {
  position: relative;
  max-width: 300px;
  max-height: 620px;
  padding: 30px;
  margin-top: 10px;
  border-radius: 40px;
  box-shadow: 0px 4px 32px #0004;
  background-color: #fff;
}

.popup-main .scrollable {
  height: 50vh;
  overflow-y: scroll;
}

.popup-head {
  color: var(--primary-blue);
  text-align: center;
}

.popup-closebtn {
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
}

@media only screen and (min-width: 768px) {
  .popup-main {
    max-width: 80%;
    max-height: 100%;
  }
  .scrollable {
    box-shadow: unset;
  }
  .wu-container {
    padding: 40px;
  }
}

@media only screen and (max-height: 568px) {
  .popup-main {
    max-height: 400px;
  }
}

/* DEPARTMENTS */
.features {
  padding-top: 60px;
  background-color: var(--little-grey);
}

.features .heading {
  margin-bottom: 50px;
  font-weight: bolder;
}

.features .icon-box {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 20px;
  transition: 0.3s;
  border: 1px solid #eef0ef;
  box-shadow: 0 5px 22px 0 rgba(209, 211, 233, 1);
}

.faico {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.features .icon-box h3 {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
  line-height: 1;
  font-size: 16px;
}

.features .icon-box h3 a {
  text-decoration: none;
  color: #37423b;
  transition: 0.3s;
}

.features .icon-box:hover i,
.features .icon-box:hover h3 a {
  color: var(--primary-blue);
}

/* PLACEMENTS */
.p-graph-container {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .p-graph-container {
    width: 75%;
    margin: 0 auto;
  }
}

.p-table {
  max-width: 100%;
  overflow-x: scroll;
  display: flex;
  margin: 20px;
}

@media only screen and (min-width: 768px) {
  .p-table {
    margin: 60px;
  }
}

.p-table table {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.p-table th,
td {
  padding: 4px 16px;
  border: 4px solid #fff;
}

.p-table th {
  background-color: var(--primary-blue);
  color: #fff;
  font-family: var(--rlwy);
}

.p-table td {
  background-color: #dde;
  padding: 4px 8px;
  font-family: var(--anek);
}

.p-collapsible {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 95vw;
}

.p-collapsible button {
  background-color: var(--primary-blue);
  border: unset;
  width: 100%;
  font-size: 25px;
  text-align: left;
  padding: 15px;
  padding-left: 20px;
  color: #fff;
}

.p-collapsible button:hover {
  /* background-color: #000; */
  background-image: linear-gradient(to bottom, #00c, var(--primary-blue));
}

.p-content {
  overflow: hidden;
  transition: height 0.5s;
}

.p-content .p-parent {
  border: 5px solid var(--primary-blue);
  border-top: unset;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media only screen and (min-width: 768px) {
  .p-collapsible {
    width: 50vw;
  }
}

/* ABOUT INFO */
.about-info-box {
  border: solid 2px var(--primary-blue);
  background-color: var(--little-grey);
  margin: 8px 12px;
  height: 70vh;
  overflow-y: scroll;
  padding: 24px;
  border-radius: 20px;
  font-family: var(--muli);
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .about-info-box {
    margin: 8px 80px;
    height: auto;
  }
}

/* DIRECTOR */
.dir {
  padding: 30px;
}

.dir h3 {
  font-family: var(--rlwy);
  margin-left: 20px;
  padding-bottom: 20px;
}

.dir-card {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.dir-card .scrollable {
  height: 60vh;
}

.dir-card img {
  margin: 10px;
  object-fit: cover;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.dir-card h5 {
  font-family: var(--muli);
  font-weight: 800;
  margin: 0;
}

.dir-subtext {
  font-size: 12px;
  font-style: italic;
  margin: 0;
}

.dir-card hr {
  width: 60%;
  padding: 0;
  margin: 10px;
}

.dir-details {
  padding: 0px 20px 0px 20px;
  font-size: 15px;
}

/* GRAPH */
.graph-header {
  text-align: center;
}

.graph-content {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .graph-header {
    margin-left: 100px;
  }
  .graph-content {
    width: 75%;
    margin: 0 auto;
  }
}

/* RECRUITERS */
.image {
  padding-top: 60px;
  background-color: var(--little-grey);
}

.image h3 {
  margin-left: 50px;
}

.photo {
  width: 100%;
  margin: 10px;
}

.rec-scroll {
  /* background-color: #ccccff; */
  padding: 20px;
  width: 99%;
  height: 300px;
  border: 3px solid var(--primary-blue);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .rec-scroll {
    height: 400px;
  }
}

/* CONTACT */
.head-container {
  position: relative;
}

.head-bg {
  position: absolute;
  z-index: -1;
}

.head-bg img {
  width: 400px;
}

.head-bg-one {
  top: -200px;
  left: -200px;
}

.head-bg-two {
  display: none;
}

.contact {
  padding: 20px;
}

.contact-main {
  background-color: #fff;
  /* margin-top: 30px; */
  /* margin-bottom: 30px; */
  padding: 20px;
  box-shadow: 0px 0px 16px #bbb;
  width: 80%;
}

.contact-main img {
  width: 100%;
  margin-bottom: 20px;
}

.cm-data {
  display: flex;
}

.cm-inner {
  margin: auto;
  text-align: center;
}

.cm-inner h4 {
  margin-bottom: 0;
}

.cm-inner .subtext {
  font-size: 14px;
}

.cm-inner a {
  color: var(--primary-blue);
}

.cm-inner a:hover {
  color: #05a;
}

@media only screen and (min-width: 768px) {
  .head-bg img {
    width: 800px;
  }
  .head-bg-one {
    top: -100px;
    left: 0px;
  }
  .head-bg-two {
    display: block;
    right: 0px;
    bottom: -100px;
  }
  .contact-main {
    width: 50%;
  }
  .contact-main img {
    margin-bottom: 0;
  }
  .cm-inner {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .cm-inner {
    text-align: left;
    margin: auto;
  }
}

/* TEAM */
.st-team {
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding: 4px;
}

.st-team-card {
  background-color: #111;
  border-radius: 8px;
  display: flex;
  width: 110px;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  padding: 8px;
  text-align: center;
}

.st-team-card img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  object-fit: cover;
}

.st-team-card h3 {
  font-size: 14px;
  margin-top: 8px;
  text-decoration: underline;
  text-decoration-color: var(--primary-blue);
}

.st-team-card h4 {
  font-size: 14px;
  font-weight: normal;
  font-family: var(--anek);
}

.st-team-card a {
  color: var(--primary-blue);
}

.st-team-card .team-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.st-team-container {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto; */
}

.st-team-group {
  border: solid 4px #fff;
  margin: 16px;
  padding: 8px;
}

.st-team-group h3 {
  text-align: center;
  padding: 8px;
}

.st-team-contents {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.st-team-2x {
  grid-column-start: auto;
}

@media only screen and (min-width: 786px) {
  .st-team-card {
    width: 180px;
  }
  .st-team {
    padding: 20px;
  }
  .st-team-card img {
    width: 160px;
    height: 160px;
  }
  .st-team-card h3 {
    font-size: 20px;
  }
  .st-team-container {
    width: 75%;
  }
  .st-team-2x {
    grid-column-start: span 2;
  }
  .st-team-contents {
    flex-direction: row;
  }
}

/* OLD-TEAM */
.team-background {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../../img/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.team-main-text {
  font-weight: bold;
  color: #fff;
}

.team-card {
  margin: 0 auto;
  text-align: center;
}

.team-card a {
  color: var(--primary-blue);
}

.team-img {
  width: 100%;
  border-radius: 100%;
}

.team-background .swiper-button-prev {
  left: 0;
  top: 75%;
}

.team-background .swiper-button-next {
  right: 0;
  top: 75%;
}

@media only screen and (min-width: 786px) {
  .team-background .swiper-button-prev {
    display: none;
    top: 25px;
    left: 0;
    padding: 20px;
    height: 90%;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 8px 8px #000d;
    color: #fff;
    background-color: var(--primary-blue);
  }

  .team-background .swiper-button-next {
    display: none;
    top: 25px;
    right: 0;
    padding: 20px;
    height: 90%;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 8px 8px #000d;
    color: #fff;
    background-color: var(--primary-blue);
  }
}

/* EVENTS */
.upcoming-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ue-box {
  display: flex;
  flex-direction: column;
  margin: 8px;
  border: 1px solid #222;
}

.ue-box .ue-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.ue-content p {
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.past-container {
  display: flex;
}

.pe-type {
  display: none;
}

.pe-box {
  margin: 12px;
  padding: 16px;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 10px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}

.pe-name {
  background-color: var(--primary-blue);
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 10px 10px 0px 0px;
  grid-column-start: span 2;
  color: #fff;
  padding: 12px;
  font-family: var(--rlwy);
  font-size: 27px;
  text-align: center;
}

.pe-det {
  background-color: var(--primary-blue);
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 0px 0px 10px 10px;
  font-family: var(--muli);
  font-size: 20px;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 786px) {
  .past-container {
    width: 100%;
    justify-content: center;
  }
  .pe-type {
    border-radius: 10px 0px 0px 10px;
    display: block;
    background-color: var(--primary-blue);
    padding: 0px 8px;
    color: #fff;
    margin: 12px 0px;
    writing-mode: sideways-lr;
    text-align: center;
    text-transform: capitalize;
  }
  .pe-box {
    display: flex;
    width: 60%;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
    grid-template-columns: auto auto;
    grid-gap: 0px;
  }
  .pe-box > * {
    padding: 16px;
  }
  .pe-name {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    box-shadow: none;
    text-align: center;
    padding: 0 auto;
  }
  .pe-det {
    box-shadow: none;
    border-radius: 0px;
  }
  .pe-det:last-of-type {
    border-radius: 0px 10px 10px 0px;
  }
}

/* HELP */
.help-info {
  text-align: center;
  padding: 0px 20px;
  font-family: var(--muli);
}

.help-form {
  border: 1px solid #777;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 20px;
}

/* FOOTER */
.footer {
  background-color: #000;
  padding: 30px;
}

.f-row {
  padding-left: 50px;
  padding-right: 50px;
}

.f-col {
  padding: 20px;
}

.f-about {
  color: #fff;
}

.footer h2 {
  font-family: "Open Sans";
  color: var(--primary-blue);
  padding-bottom: 10px;
  border-bottom: 1px solid yellow;
}

.about-social a {
  margin: 0 auto;
  font-size: 25px;
}

.f-ql ul {
  list-style-type: none;
}

.f-ql ul a {
  color: #fff;
  text-decoration: none;
}

.f-ql ul a:hover {
  color: var(--primary-blue);
}

.ci-cell {
  display: flex;
}

.ci-icon {
  padding: 20px;
}

.ci-cell-div {
  display: flex;
}

.ci-cell-div a {
  margin: auto;
}

.f-ci a {
  color: #fff;
  text-decoration: none;
}

.f-ci a:hover {
  color: var(--primary-blue);
}

.copyright {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media only screen and (max-width: 768px) {
  .copyright {
    padding: 8px 2px;
  }
  .footer h2 {
    text-align: center;
  }
  .footer p {
    text-align: center;
  }
}

.totopbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10vh;
  right: 10vh;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  background-color: var(--primary-blue);
  transition: all 0.2s;
}

.totopbtn:hover {
  box-shadow: 0px 0px 8px #777;
}

.totophidden {
  display: none;
}
